.stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stage iframe {
  width: 100%;
  height: 100%;
}

#previous-chapter {
  position: fixed;
  left: 10px;
  top: 45%;
}

#next-chapter {
  position: fixed;
  right: 10px;
  top: 45%;
}

.chapters-menu {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  -webkit-transition: bottom .2s; /* Safari */
  transition: bottom .2s;
}
.chapters-menu.show {
  bottom: 0;
}

#chapters-menu-toggle {
  margin-top: -65px;
  border-radius: 4px 4px 0 0;
}

.chapters-menu-cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.chapter-card {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  height: 100px;
  width: 200px;
}

.chapter-card-title {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  color: white;
}

.chapter-card img {
  width: 100%;
}

.chapter-card-overlay {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.chapter-card-overlay:hover {
  background-color: rgba(0,0,0,0.5);
}
